@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu|Dosis");
* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body, body > div, html {
  background: #fff;
  height: 100%;
  min-height: 100%;
}

.layout {
  height: 100%;
  width: 100%;
}

.fullHeader {
  background: #e8e8e8;
  width: 33%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 22px;
  z-index: 1;
}
@media screen and (min-width: 320px) {
  .fullHeader {
    padding: calc(22px + ((16 * (100vw - 320px)) / 1120));
  }
}
@media (min-width: 768px) {
  .fullHeader {
    display: flex;
    width: 310px;
  }
}
@media (min-width: 1024px) {
  .fullHeader {
    width: 310px;
  }
}
@media (min-width: 1440px) {
  .fullHeader {
    width: 320px;
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .fullHeader {
    display: none;
  }
}
.fullHeader .blocLogo {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.fullHeader .blocLogo a h1 {
  cursor: pointer;
}
.fullHeader .blocLogo a h1 svg {
  cursor: inherit;
  height: 37px;
  width: 208px;
  display: inline-block;
  max-width: 1em;
  margin: 0;
}
@media (min-width: 768px) {
  .fullHeader .blocLogo a h1 svg {
    max-width: 1em;
  }
}
.fullHeader .blocLogo p {
  margin-bottom: 0.2em;
}
.fullHeader .blocLogo span {
  line-height: 1.6em;
  display: block;
  font-weight: 400;
}
.fullHeader .blocLogo span p {
  color: #576D8E;
}
@media screen and (min-width: 320px) {
  .fullHeader .blocLogo span p {
    font-size: calc(15px + ((2 * (100vw - 320px)) / 1120));
    letter-spacing: 0.5px;
  }
}
.fullHeader nav {
  display: flex;
  flex-basis: 50%;
}
.fullHeader nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fullHeader nav ul li {
  margin: 12px 0 12px 0;
}
@media screen and (min-width: 320px) {
  .fullHeader nav ul li {
    margin-bottom: calc(12px + ((8 * (100vw - 320px)) / 1920));
  }
}
@media screen and (min-width: 320px) {
  .fullHeader nav ul li {
    margin-top: calc(12px + ((8 * (100vw - 320px)) / 1920));
  }
}
.fullHeader nav ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.8em;
  cursor: pointer;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: #576D8E;
  border-style: solid;
  border-width: 0px 0px 2px;
  transition: border-color 0.1s, color 0.1s;
  border-color: transparent;
}
.fullHeader nav ul li a:hover {
  color: #6799B2;
  border-color: #444B53;
}
.fullHeader .sousMenu {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  justify-content: flex-end;
}
.fullHeader .sousMenu p {
  line-height: 1.4em;
  letter-spacing: 0.02em;
  margin-bottom: 2.8em;
  color: #576D8E;
}
@media screen and (min-width: 320px) {
  .fullHeader .sousMenu p {
    font-size: calc(15px + ((2 * (100vw - 320px)) / 1120));
    letter-spacing: 0.5px;
  }
}
@media screen and (max-height: 785px) {
  .fullHeader .sousMenu p {
    margin-bottom: 1.8em;
  }
}
.fullHeader .sousMenu .email {
  font-size: 14px;
  text-decoration: none;
  color: currentColor;
  color: #65BEC2;
}

.page {
  margin-left: 33%;
}
@media (min-width: 768px) {
  .page {
    margin-left: 310px;
  }
}
@media screen and (min-width: 1024px) {
  .page {
    margin-left: 310px;
  }
}
@media screen and (min-width: 1440px) {
  .page {
    margin-left: 320px;
  }
}
@media (max-width: 767px) {
  .page {
    right: 0;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 2;
    margin: 0;
  }
}
.page main {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 320px) {
  .page main {
    padding-left: calc(24px + ((16 * (100vw - 320px)) / 1120));
    padding-right: calc(24px + ((16 * (100vw - 320px)) / 1120));
    padding-top: calc(48px + ((32 * (100vw - 320px)) / 1120));
    padding-bottom: calc(48px + ((32 * (100vw - 320px)) / 1120));
  }
}
@media (min-width: 768px) {
  .page main {
    padding-left: calc(48px + ((32 * (100vw - 320px)) / 1120));
    padding-right: calc(48px + ((32 * (100vw - 320px)) / 1120));
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .page main {
    padding-top: 120px;
  }
}
.page main .mainChild {
  width: 100%;
  margin: auto;
}
.page main .mainChild .container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page main .mainChild .container {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .page main .mainChild .container {
    max-width: 1200px;
  }
}
.page main .mainChild .container .mainTxt {
  color: inherit;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .page main .mainChild .container .mainTxt {
    width: 90%;
    margin-left: initial;
    margin-right: initial;
    max-width: 920px;
  }
}
.page main .mainChild .container .mainTxt .bonjour {
  position: relative;
  animation: bonjourToFront 2s 4s ease-out forwards;
  font-size: 14px;
  line-height: 1.8em;
  display: block;
  font-family: Lato, sans-serif;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: inherit;
}
@media screen and (min-width: 320px) {
  .page main .mainChild .container .mainTxt .bonjour {
    font-size: calc(14px + ((2 * (100vw - 320px)) / 1120));
  }
}
.page main .mainChild .container .mainTxt h1 {
  line-height: 1.2em;
  display: block;
  font-family: "Source Sans Pro", Arial;
  font-weight: 500;
  color: #444B53;
}
@media screen and (min-width: 320px) {
  .page main .mainChild .container .mainTxt h1 {
    font-size: calc(24px + ((16 * (100vw - 320px)) / 1120));
  }
}
.page main .mainChild .container .mainTxt .txt {
  font-size: calc(20px + ((4 * (100vw - 320px)) / 1120));
  letter-spacing: 1px;
  color: #444B53;
}
.page main .mainChild .container .actionBar a {
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  color: currentColor;
  font-family: "Source Sans Pro", Arial;
  font-size: 2em;
}
@media screen and (min-width: 320px) {
  .page main .mainChild .container .actionBar a {
    font-size: calc(16px + ((2 * (100vw - 320px)) / 320));
  }
}

.mobHeader {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.486);
  height: 60px;
  justify-content: space-between;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 3;
}
@media screen and (min-width: 320px) {
  .mobHeader {
    padding-left: calc(24px + ((16 * (100vw - 320px)) / 1120));
    padding-right: calc(24px + ((16 * (100vw - 320px)) / 1120));
  }
}
@media screen and (min-width: 768px) {
  .mobHeader {
    display: none;
  }
}
.mobHeader h1 {
  margin: 0;
}

.MobMenuText {
  text-decoration: none;
  color: currentColor;
}

@media screen and (max-height: 785px) {
  hr {
    display: none;
  }
}

@keyframes bonjourToFront {
  from {
    z-index: 1;
  }
  to {
    z-index: 2;
  }
}

/*# sourceMappingURL=main.css.map */
